@model SGHotel.Models.QuartoModel
@{
    ViewData["Title"] = "Details";
    ReservasModel reserva = new ReservasModel();
    ReservasModel reserva_apagar = new ReservasModel();
    QuartoModel quarto_index = new QuartoModel();
    int id_reserva = 0;
}

<h1>Quarto @Model.Num_quarto</h1>

<style>
    a {
        text-decoration:none;
    }
</style>

<div style="display:inline-flex">  
    <hr />
    <dl class="column">
        <dt class = "col-sm-10">
            @if (Model.Disponivel)
            {
                <label style="color:green">QUARTO DISPONIVEL</label><br />
            }else
            {
                <label style="color:red">QUARTO OCUPADO</label><br />
            }
        </dt>
        <dt class = "col-sm-10">                        
            <label>Capacidade:</label>  <label>@Html.DisplayFor(model => model.Capacidade)</label>   
        </dt>
        <dt class = "col-sm-10">
            @{
                string preco = Model.Preco.ToString();
            }

            <label>Valor da diária: R$@preco</label>
            <br />
            <label>Limpo?</label>
            @if (Model.Limpo)
            {
                <label style="color:green">QUARTO LIMPO</label><br />
            }else
            {
                <label style="color:red">QUARTO SUJO</label><br />
            }

        </dt>
    </dl>
</div>

<div style="display:inline; float:right">
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Fazer Check-In
     </button>
     <button class="botao-modal btn btn-primary" asp-route-id="@Model.Id_Quarto" >
         Nova Reserva
     </button>
    <a class="btn btn-primary" asp-controller="Quarto" asp-action="Editar" asp-route-id="@Model.Id_Quarto">Editar</a> |
    <a asp-controller="Home" asp-action="Index">Voltar |</a>
</div>
<br />

<div style="text-align:center">
    <strong><label style="text-align:center; position:center">RESERVAS DO QUARTO</label></strong>
</div>

@using (Html.BeginForm("Check_In_Out","Quarto",FormMethod.Post))
{    
    <div>
        <table class="table table-striped" style="width:100%" id="Tabela-Clientes">
            <thead>
            <tr> 
                <th scope="col">id_reserva</th>
                <th scope="col">Data de início</th>
                <th scope="col">Data de fim</th>
                <th scope="col">Cliente</th>              

                <div style="visibility:hidden">
                    @Html.TextBox("id_quarto",@Model.Id_Quarto)
                </div>
              
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>          
            @{
                foreach(ReservasModel reserva_item in Model.reservas)
                {
                    <tr>                          
                         <td>@reserva_item.id_Reserva</td>
                         <td>@reserva_item.dt_inicio</td>
                         <td>@reserva_item.dt_fim</td>
                                                                              
                          @foreach(ClienteModel cliente in Model.Clientes)
                         {
                            if(cliente.Id == reserva_item.id_cliente)
                            {
                                <td>@cliente.Nome</td>                               
                            } 
                         }                                        
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="" asp-controller="Cliente" asp-action="Editar" >Editar</a>
                                <a role="button" class="btn btn-primary" asp-route-id="id_reserva=@reserva_item.id_Reserva" asp-controller="Quarto" asp-action="ApagarConfirmacao">
                                        Apagar
                                </a>       
                                
                                <button class="btn btn-danger">
                                   @Html.ActionLink("Apagar","ApagarConfirmacao", new { id_reserva=@reserva_item.id_Reserva })
                                </button>                               
                                                                        
                                @if (Model.Disponivel)
                                {
                                                <button type="submit" id="btnSalvar" class="btn btn-primary btn-block">Check-In</button>
                                }
                                else if (!Model.Disponivel)
                                {
                                                <button type="submit" id="btnSalvar" class="btn btn-primary btn-block">Check-Out</button>                                                                            
                                }
                            </div>
                        </td>                       
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}    

@*=============================*@
@*MODAL CADASTRO DE RESERVA*@
@*=============================*@
<div id="modal-reserva" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align:center">Adicionar Reserva</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <form asp-controller="Quarto" asp-action="Adicionar_Reserva" method="post">

               <div class="form-group">
                        @{

                        }
                    <label for="celular">Clientes</label>    
                    <select  asp-for="@reserva.id_cliente"  class="form-control">
                        @{
                            foreach (var item in Model.Clientes)
                            {                                                          
                                                           <option value="@item.Id">@item.Nome</option>                                                                    
                            }                            
                        }
                    </select>            
              </div>
              <div class="form-group">
                    <label for="dt_vencimento">Data de Inicio</label>
                    <input type="date" asp-for="@reserva.dt_inicio" class="form-control" placeholder="Data de início">                
              </div> 
              <div class="form-group">
                    <label for="dt_vencimento">Data de Fim</label>
                    <input type="date" asp-for="@reserva.dt_fim" class="form-control" placeholder="Data de fim">                
              </div> 
              <div style="visibility:hidden">
                    <input type="number" asp-for="@reserva.id_quarto" value="@Model.Id_Quarto" class="form-control">                
              </div>               
              <div class="form-group">
                <label for="Valor">Valor da Conta</label>
                <input type="Valor_Conta" asp-for="@reserva.Valor_pago" class="form-control" placeholder="Digite o Valor a pagar ">                    
              </div>  

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" id="btnSalvar" class="btn btn-primary btn-block">Salvar</button>
                  @*<button type="submit" class="btn btn-primary" asp-controller="Quarto" asp-action="Detalhes" asp-route-id="@Model.Id_Quarto">Salvar</button>*@
              </div>
        </form>
      </div> 
    </div>
  </div>
</div>


@*=============================*@
   @*MODAL CHECK-IN : inicio *@
@*=============================*@

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check-In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           Possui Reserva?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-dismiss="modal" data-target="#modal-reservas-lista">Sim</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"  data-target="#modal-reserva">Não</button>
      </div>
    </div>
  </div>
</div>

@*=============================*@
     @*MODAL CHECK-IN: fim*@
@*=============================*@


@*=============================*@
@*MODAL CONFIRMA APAGAR : INICIO*@
@*=============================*@

<div class="modal fade" id="ModalApagar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja apagar a reserva?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           Caso <strong>SIM</strong>, esse registro será apagado e a conta referente a ela será Cancelada!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#modal-reservas-lista">
            <strong>SIM</strong>           
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"  data-target="">Voltar</button>
      </div>
    </div>
  </div>
</div>

@*=============================*@
@*MODAL CONFIRMA APAGAR : FIM *@
@*=============================*@


@*=============================*@
   @*MODAL C/ RESERVAS: inicio *@
@*=============================*@

<div class="modal fade" id="modal-reservas-lista" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja efetuar o Check-in?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">         
            <div>
                <input id="input-id" type="number" value="@Model.Id_Quarto" class="form-control">                               
            </div>     
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btnteste" onclick="checkIn()" class="btn btn-primary btn-block" data-toggle="modal" data-dismiss="modal">Check-in</button>                             
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Selecionar</button>*@
              </div>
      </div>
    </div>
  </div>
</div>

@*=============================*@
     @*MODAL C/ RESERVAS: fim*@
@*=============================*@