@model SGHotel.Models.ContaModel

@{
    ViewData["Title"] = "Deletar Conta";
}

<h1>Deletar conta</h1>

<h3>Você tem certeza que deseja deletar esta conta?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_lancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_lancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tp_conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tp_conta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdConta" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
