@model SGHotel.Models.ContaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_lancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_lancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tp_conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tp_conta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
